.blocked-users {
  background-color: rgb(216, 216, 216);
  height: 88vh;
  overflow-y: auto;
}

.blocked-users::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
  height: 0px;
}

.blocked-users::-webkit-scrollbar-thumb {
  background-color: var(--primary-color); /* Scrollbar thumb color */
  border-radius: 10px; /* Rounded corners */
}
