.statics {
  box-shadow: 3px 3px 5px gray;
  color: white;
  transition: 0.3s ease-in-out;
}
.statics:hover {
  box-shadow: 3px 3px 20px rgb(79, 79, 79);
}
.category-chart {
  height: 300px;
  width: 300px;
}
