.footer-logo {
  max-width: 300px;
}
.copyright-icons {
  color: white;
  background-color: rgb(6, 164, 255);
}
.copyright-icons:hover {
  color: rgb(255, 0, 0);
  background-color: white;
  transition: 0.2s ease-in-out;
}
